@model CIMS2019.Models.ErrorViewModel

@{
    ViewData["Title"] = "CreateErr";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<h1>抱歉，发现问题</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestId)
        </dd>
    </dl>
</div>
<div>

</div>
