
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

    <form method="post">
        <div id="divpage0" style="display:block">
            第一页
            <input type="button" value="下一页" onclick="showpage(1)" />
        </div>
        <div id="divpage1" style="display:none">
            第二页
            <input type="button" value="上一页" onclick="showpage(0)" />
            <input type="button" value="下一页" onclick="showpage(2)" />
        </div>
        <div id="divpage2" style="display:none">
            第三页
            <input type="button" value="上一页" onclick="showpage(1)" />
        </div>

        <input id="str" name="str" type="text" />

        <input id="submit" name="submit" type="submit" value="提交" />
    </form>

    <script language="javascript">
        /*jquery*/
        function showdiv() {
            if ($("#show").css("display") == 'none') {//如果show是隐藏的
                $("#show").css("display", "block");//show的display属性设置为block（显示）
            } else {//如果show是显示的
                $("#show").css("display", "none");//show的display属性设置为none（隐藏）
            }
        }
        function showpage(pageindex) {
            if (pageindex == 0) {
                $("#divpage0").show();
                $("#divpage1").hide();
                $("#divpage2").hide();
            } else if (pageindex == 1) {
                $("#divpage1").show();
                $("#divpage0").hide();
                $("#divpage2").hide();
            } else if (pageindex == 2) {
                $("#divpage2").show();
                $("#divpage1").hide();
                $("#divpage0").hide();
            }
        }
        $("#dept").change(function () {
        var url = rootUrl + "aaa/GetJobByDept";
            var dept = $(this).val();   //获取部门的值
            var job = $("#job");
            job.empty();     //清空当前职位的值
            //这句很重要，因我们用的是select2插件，若没有用这个插件可以去掉这句
            job.select2('val', '');
            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                data: { "Dept": dept},
                success: function (data) {
                    $.each(data, function (id, option) {

                        job.append($('<option></option>').val(option.Id).html(option.Name));
                    });
                    job.trigger('change');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr["error"]("请选择部门");
                }
            });
    });
    </script>

