@{
    ViewData["Title"] = "系统首页";
}

    <div class="text-center">
        <h1 class="display-4">欢迎</h1>
        <p>工作页面 <a href="/InfoCollect/CreateAll">点此</a>.</p>
        <p>测试连接，有回复即可<a href="/Home/TestDatabase">点此</a></p>
        <p>列表<a href="/InfoDisplay/CEList">点此</a></p>
    </div>
